.top-img img {
  width: 100%; }

#toptip {
  background: #474747;
  font-size: 16px; }
  #toptip .toptip {
    height: 55px;
    line-height: 55px;
    color: #999999;
    font-size: 16px; }
    #toptip .toptip .tc {
      display: none; }
    #toptip .toptip .s1 {
      margin-left: 0px; }
    #toptip .toptip .s2 {
      text-align: center; }
      #toptip .toptip .s2 .a1 {
        width: 70px; }
        #toptip .toptip .s2 .a1:hover {
          background: #5A5A5A; }
    #toptip .toptip .s3 {
      margin-left: 590px; }
      #toptip .toptip .s3 a {
        padding-right: 20px; }
        #toptip .toptip .s3 a:hover {
          background: #5A5A5A; }
    #toptip .toptip .s4 {
      margin-left: 18px; }
    #toptip .toptip img {
      width: 32px;
      margin-left: 18px; }
    #toptip .toptip span {
      display: inline-block;
      color: #999999; }
      #toptip .toptip span a {
        display: inline-block;
        color: #999999;
        box-sizing: border-box; }
        #toptip .toptip span a img {
          width: 24px;
          margin-right: 18px; }

.toplogo .container {
  height: 105px;
  line-height: 105px; }
  .toplogo .container .i1 {
    width: 170px;
    height: 60px; }
  .toplogo .container .i2 {
    width: 158px;
    height: 74px;
    margin-left: 28px; }
  .toplogo .container .i4 {
    width: 80px;
    height: 80px;
    margin-left: 12px; }
  .toplogo .container .a2 {
    display: inline-block;
    margin-top: -30px; }
    .toplogo .container .a2 .i5 {
      width: 26px;
      height: 22px; }
    .toplogo .container .a2 .s1 {
      font-size: 16px; }
  .toplogo .container .d1 {
    display: inline-block;
    width: 460px;
    height: 50px;
    border: 1px solid #ccc;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 176px; }
    .toplogo .container .d1 input {
      display: inline-block;
      width: 400px;
      height: 46px; }
    .toplogo .container .d1 a {
      display: inline-block; }
    .toplogo .container .d1 .a1 {
      border-left: 1px solid #ccc; }
    .toplogo .container .d1 .i3 {
      width: 24px;
      height: 24px;
      margin-left: 10px; }

.topnav {
  box-sizing: border-box; }
  .topnav .u1 {
    height: 45px;
    background: #474747; }
    .topnav .u1 li {
      float: left; }
      .topnav .u1 li a {
        display: inline-block;
        padding: 14px 22px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 550;
        color: #ccc; }
        .topnav .u1 li a:hover {
          background: #5A5A5A; }
      .topnav .u1 li .a1 {
        padding: 14px 90px; }

.banner .banner_nav {
  float: left;
  height: 460px;
  width: 250px;
  position: relative;
  top: 0px;
  left: 0px;
  background: #377149;
  font-size: 14px; }
  .banner .banner_nav:hover .nav-list {
    display: block; }
  .banner .banner_nav ul li a {
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #fff; }
    .banner .banner_nav ul li a:hover {
      background: #00BA31; }
    .banner .banner_nav ul li a img {
      width: 29px;
      height: 29px;
      margin-left: 20px; }
    .banner .banner_nav ul li a span {
      margin-left: 10px; }
      .banner .banner_nav ul li a span:hover {
        color: #E01706; }
.banner .nav-list {
  float: left;
  width: 730px;
  height: 460px;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 250px;
  z-index: 999;
  font-size: 14px;
  display: none; }
  .banner .nav-list img {
    width: 680px;
    height: 130px;
    margin-left: 20px; }
  .banner .nav-list div:hover {
    background: #F3F3F3; }
  .banner .nav-list div a {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 10px; }
    .banner .nav-list div a:hover {
      color: red; }
    .banner .nav-list div a:nth-child(1) {
      padding: 20px 30px 30px 30px; }
    .banner .nav-list div a:nth-child(9) {
      padding: 20px 30px 30px 30px; }
    .banner .nav-list div a:nth-child(12) {
      padding: 20px 30px 30px 30px; }
    .banner .nav-list div a:nth-child(16) {
      padding: 20px 30px 30px 30px; }
    .banner .nav-list div a:nth-child(20) {
      padding: 20px 30px 30px 30px; }

.list-top {
  width: 990px;
  height: 30px;
  float: left;
  margin-left: 10px;
  line-height: 30px; }
  .list-top .s1 {
    color: #ccc;
    font-weight: bold; }
  .list-top a:hover {
    color: red; }

.list-pic {
  float: left; }
  .list-pic img {
    float: left;
    margin-right: 8px; }
  .list-pic .i1 {
    width: 375px;
    height: 180px;
    margin-left: 10px; }
  .list-pic .i2 {
    width: 375px;
    height: 180px; }
  .list-pic .i3 {
    width: 210px;
    height: 180px; }

.list-check {
  width: 990px;
  height: 212px;
  float: left; }
  .list-check .p1 {
    height: 36px;
    background: #F4F4F4;
    line-height: 36px; }
    .list-check .p1 span {
      display: inline-block; }
    .list-check .p1 .s1 {
      margin-left: 10px; }
    .list-check .p1 .s3:hover {
      color: red; }
    .list-check .p1 .i1 {
      width: 18px;
      height: 18px;
      margin-left: 800px; }
  .list-check .list-kind {
    width: 990px;
    height: 176px; }
    .list-check .list-kind li {
      height: 44px;
      border-bottom: 1px solid #ccc; }
      .list-check .list-kind li:hover {
        background: #F4F4F4; }
      .list-check .list-kind li span {
        display: inline-block;
        box-sizing: border-box;
        margin-top: 16px;
        margin-left: 10px; }
      .list-check .list-kind li .s1 {
        width: 110px;
        padding-left: 70px; }
      .list-check .list-kind li .s2 {
        width: 42px;
        height: 21px;
        color: #fff;
        background: green;
        text-align: center;
        line-height: 21px; }
        .list-check .list-kind li .s2:hover {
          color: yellow; }

.list-main {
  float: left;
  margin-left: 50px; }
  .list-main .main-left {
    height: 1000px;
    width: 250px;
    float: left;
    margin-top: 38px;
    border: 1px solid #ccc; }
    .list-main .main-left .p1 {
      height: 40px;
      background: #F4F4F4;
      box-sizing: border-box;
      padding-left: 10px;
      line-height: 40px;
      font-size: 16px;
      font-weight: bold; }
    .list-main .main-left .p2 {
      height: 90px;
      line-height: 90px; }
      .list-main .main-left .p2 .i1 {
        width: 224px;
        height: 54px;
        margin-left: 10px; }
  .list-main .list-sort {
    width: 990px;
    height: 34px;
    background: #F4F4F4;
    float: left;
    line-height: 34px;
    border: 1px solid #ccc; }
    .list-main .list-sort .s1 {
      margin-left: 10px; }
    .list-main .list-sort #btnPrice {
      width: 50px;
      height: 20px;
      background: #fff;
      border: 1px solid #ccc;
      margin-left: 100px; }
      .list-main .list-sort #btnPrice:hover {
        cursor: pointer;
        background: #60A411;
        color: #fff; }
    .list-main .list-sort #btnXl {
      width: 50px;
      height: 20px;
      background: #fff;
      border: 1px solid #ccc;
      margin-left: 20px; }
      .list-main .list-sort #btnXl:hover {
        cursor: pointer;
        background: #60A411;
        color: #fff; }
    .list-main .list-sort #btnPl {
      width: 50px;
      height: 20px;
      background: #fff;
      border: 1px solid #ccc;
      margin-left: 20px; }
      .list-main .list-sort #btnPl:hover {
        cursor: pointer;
        background: #60A411;
        color: #fff; }
  .list-main .list-goods {
    width: 990px;
    float: left;
    margin-top: 10px; }
    .list-main .list-goods li {
      width: 240px;
      height: 399px;
      float: left;
      margin-left: 6px;
      box-sizing: border-box; }
      .list-main .list-goods li:hover {
        border: 1px solid #ccc; }
      .list-main .list-goods li a {
        display: inline-block; }
      .list-main .list-goods li img {
        width: 220px;
        height: 220px;
        margin-top: 28px;
        margin-left: 10px; }
      .list-main .list-goods li span {
        display: inline-block; }
      .list-main .list-goods li .s1 {
        margin-top: 20px; }
        .list-main .list-goods li .s1:hover {
          color: red; }
      .list-main .list-goods li .s2 {
        margin-left: 10px; }
      .list-main .list-goods li .p1 {
        font-size: 20px;
        color: #CD53A9;
        margin-top: 34px;
        font-weight: bold;
        margin-left: 10px; }
      .list-main .list-goods li .s3 {
        margin-left: 50px; }
      .list-main .list-goods li #btnBut {
        width: 70px;
        height: 24px;
        font-size: 12px;
        margin-top: 10px;
        background: #F5F5F5;
        margin-left: 10px; }
        .list-main .list-goods li #btnBut:hover {
          background: #C80606;
          color: #fff; }
      .list-main .list-goods li #btnCart {
        width: 70px;
        height: 24px;
        font-size: 12px;
        margin-top: 10px;
        background: #F5F5F5; }
        .list-main .list-goods li #btnCart:hover {
          background: #835A31;
          color: #fff; }
  .list-main .list-pag {
    width: 990px;
    height: 50px;
    float: right;
    text-align: right;
    border-top: 1px solid #ccc; }
    .list-main .list-pag span {
      display: inline-block;
      width: 26px;
      height: 26px;
      background: #fff;
      margin-top: 10px;
      text-align: center;
      line-height: 26px;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #ccc; }
      .list-main .list-pag span:hover {
        cursor: pointer; }
    .list-main .list-pag .active {
      width: 26px;
      height: 26px;
      background: #60A411;
      margin-top: 10px;
      text-align: center;
      line-height: 26px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #ccc; }
    .list-main .list-pag .s3 {
      width: 26px;
      height: 26px;
      margin-top: 10px;
      text-align: center;
      line-height: 26px;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #ccc; }

#link {
  background: #fff;
  height: 600px; }
  #link .link {
    width: 1250px;
    height: 262px;
    margin-top: 100px; }
    #link .link span {
      display: block; }
    #link .link .l1 {
      width: 304px;
      height: 45px;
      border-right: 1px solid #ccc;
      box-sizing: border-box;
      float: left;
      margin-top: 60px;
      text-align: center; }
    #link .link .l2 {
      width: 195px;
      height: 152px;
      text-align: center;
      margin-top: 40px;
      float: left; }
      #link .link .l2 a {
        display: block;
        line-height: 34px;
        font-size: 14px; }
      #link .link .l2 .s1 {
        font-size: 18px;
        color: #000; }

#footer {
  background: #F4F4F4;
  float: left;
  margin-left: 50px; }
  #footer .footer {
    height: 225px;
    font-size: 14px;
    margin-top: 30px; }
    #footer .footer span {
      display: block;
      width: 800px;
      margin-left: 20px; }
    #footer .footer .i1 {
      width: 207px;
      height: 24px;
      margin-left: 500px; }
    #footer .footer .i2 {
      width: 360px;
      height: 60px;
      margin-left: 50px; }

/*# sourceMappingURL=list.css.map */
